[Desktop Entry]
Categories=X-Islamic-Software;Education;Office;Viewer;Qt;
Comment[en_US]=The electronic Holly Quran browser Elforkane
Comment=The electronic Holly Quran browser Elforkane
Comment[ar]=طالع استمع تصفح القرءان الكريم بالتراجم والتفاسير
Exec=elforkane
GenericName[en_US]=The electronic Holly Quran browser Elforkane
GenericName=The electronic Holly Quran browser Elforkane
GenericName[ar]=المصحف الالكتروني الفرقان
Icon=elforkane
MimeType=
Name[en_US]=elforkane
Name=elforkane
Name[ar]=الفرقان
StartupNotify=true
Terminal=false
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
